<div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="img"
         src="http://www.teleperformance.co/media/4273750/gallery_0019_dji_0015.jpg" >

         <div class="btn btn-primary" >
          <a href="http://www.teleperformance.co/es-es/quienes-somos/sobre-nosotros"> mas informacion</a>
         </div>
      </div>
      
      <div class="col-sm title">
        <h3 >Teleperformance</h3>
        <div >
            <h4 style="margin-top: 10%;">Quienes somos</h4>
            <p>La compañía se destaca hoy en día por la prestación de servicios en Colombia,
               así como en los mercados Nearshore Estados Unidos y Offshore España. Hoy
                atiende a más de medio centenar de empresas colombianas de los sectores de salud, transporte, energía, alimentos, servicios, entretenimiento, entre otros; y a multinacionales europeas y americanas, jalonando de manera importante uno de los sectores estratégicos 
                para el crecimiento de la economía del país a mediano y largo plazo.
              La experiencia y posición de Teleperformance permite a la empresa a tener en 
              cuenta las necesidades particulares de cada cliente y ofrecer robustas operaciones con calidad, en un mercado B2B, mercado B2C o en un mercado mixto.</p>
        </div>
        <p></p>
        
        <div >
            <p>Durante más de 40 años, hemos estado aprendiendo de todas y cada una de las interacciones atendiendo 
                a muchos países y segmentos diferentes, porque cada interacción es única.</p>
        </div>
        <p></p>
     
      
      </div>
    </div>
  </div>
