

<div class="container">
    <h2>Formulario de Registro de Usuario - Reactivo</h2>
    
    <form (submit)="submit()" [formGroup]="registerForm">
     <div class="form-group">
         <label for="cedula">documento</label>
         <input type="text" class="form-control" formControlName="documento">
         <div *ngIf="documento.invalid && (documento.dirty || documento.touched)" class="alert alert-danger">
            <div *ngIf="documento.errors.required">
                sorry! no dejar campo en blanco
            </div>
        </div>
     </div>
     <div class="form-group">
        <label for="name_lastname">nombre  y apellido</label>
        <input type="text" class="form-control" formControlName="name_lastname" >        
    </div>
    <div class="form-group">
        <label for="init_date">fecha inicio</label>
        <input type="text" class="form-control" formControlName="init_date" >        
    </div>
    <div class="form-group">
        <label for="final_date">fecha final</label>
        <input type="text" class="form-control" formControlName="final_date" >        
    </div>
    <div class="form-group">
        <label for="time_init_turn">hora inicial del turno</label>
        <input type="text" class="form-control" formControlName="time_init_turn" >        
    </div>
    <div class="form-group">
        <label for="time_final_turn">hora final del turno</label>
        <input type="text" class="form-control" formControlName="time_final_turn" >        
    </div>
    <div class="form-group">
        <label for="time_init_extra_hour">hora inicial de hora extra</label>
        <input type="text" class="form-control" formControlName="time_init_extra_hour" >        
    </div>
    <div class="form-group">
        <label for="time_final_extra_hour">hora final de hora extra</label>
        <input type="text" class="form-control" formControlName="time_final_extra_hour" >        
    </div>
    
    <button type="submit" class="btn btn-success"> enviar</button>
    <button type="button" class="btn btn-secondary" (click)="refrescar()"> Refrescar</button>
    
    </form>
    </div>